body{
    font-family: Arial;
    margin:0;
    background:#f4f4f4;
}

header{
    background:#0073e6;
    color:white;
    padding:20px;
    text-align:center;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:8px;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:10px;
}